services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile.dev
    env_file:
      - .env
    ports:
      - "8008:8000"
    volumes:
      - .:/app
    restart:
      always
    command: ["python", "manage.py", "runserver", "0.0.0.0:8000"]